<div class="container-fluid">
  <div class="row justify-content-center pt-5 mt-5">
    <div class="col-md-6">
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      
        <input type="text" class="form-control" placeholder="type your name" formControlName="userName">
  
        <textarea class="form-control mt-2" placeholder="enter your message" style="height: 100px" formControlName="message"></textarea>
        
        <div class="row justify-content-center">
          <div class="text-center">
          <button type="submit" class="btn btn-primary mt-2" [disabled]="!messageForm.valid">send</button>
          </div>
        </div>
      </form>
    <div  #scrollMe   style="overflow-y: scroll;height: 300px;overflow-wrap: break-word;" class="mt-4 border border-warning" *ngIf="messages.length >0">
      <div  *ngFor="let message of messages" [ngClass]="message.mine ? 'text-end ':''" >
        <small>{{message.user}}</small>
       <div class="text-white" [ngClass]="message.mine ? 'bg-primary p-2 me-2 rounded-pill':'bg-success p-2  ms-2 rounded-pill'">{{message.text}}</div>
        </div>
    
    </div>
      
    </div>
  </div>
  
</div>



  
 

